@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  font-style: normal;
  src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  src: url("/fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

:root {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

.gradient-text {
  background: linear-gradient(90deg, #fb5857, #db4d80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.popIn {
  animation: popIn 0.2s linear forwards;
}
